input[type=text], select {
  padding: 2px 6px;
  font-size: 1em;
  border-radius: 3px;
  border: solid 1px #083f08;
  background: white;
  color: black;
  font-size: 1em;
}

button {
  font-size: 1em;
  color: white;
  border-radius: 5px;
  min-height: 26px;
  border: none;
  display: inline-block;
}
button.primary {
  background-color: #107a10;
}
button.primary:hover, button.primary:focus {
  border: none;
  background-color: #083f08;
}
button.secondary {
  background-color: white;
  color: #083f08;
  border: solid 1px white;
}
button.secondary:hover, button.secondary:focus {
  border: solid 1px #083f08;
}
button:disabled {
  background-color: #ababab;
  opacity: 0.5;
  color: black;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover, .select select:focus {
  background: #f8f8f8;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select select span {
  font-weight: 400;
}

.select-arrow {
  position: absolute;
  top: 10px;
  right: 8px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #083f08 transparent transparent transparent;
}

.select select:hover ~ .select-arrow, .select select:focus ~ .select-arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select-arrow {
  border-top-color: #ccc;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  cursor: pointer;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control-indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 16px;
  width: 16px;
  background: white;
  border: 2px solid #ababab;
}

.control:hover input:not([disabled]) ~ .control-indicator {
  border-color: #5f5f5f;
}
.control input:focus ~ .control-indicator {
  border-color: #5f5f5f;
}
.control input:checked ~ .control-indicator {
  background: white;
}
.control input:disabled ~ .control-indicator {
  background: #ababab;
  opacity: 0.6;
  pointer-events: none;
}

.control-indicator:after {
  content: "";
  position: absolute;
  display: none;
}

.control input:checked ~ .control-indicator:after {
  display: block;
}

.control-checkbox .control-indicator:after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 12px;
  border: solid #107a10;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control-indicator:after {
  border-color: #7b7b7b;
}

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 499;
  /* was 1000 */
  pointer-events: none;
}

#tremor-map {
  height: 100%;
  position: relative;
  font-family: "Open Sans", Arial, "sans serif";
}

.event.active-event {
  width: 11px !important;
  height: 11px !important;
  border: solid #083f08 2px;
}

.map-bounds {
  background: white;
  width: 75px;
  height: 20px;
  padding: 3px;
  text-align: center;
  cursor: pointer;
}
.map-bounds:hover, .map-bounds:focus {
  background-color: #f8f8f8;
}
.map-bounds #draw {
  display: none;
}

.map-control {
  padding: 6px 8px;
  background: white;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.map-key {
  height: 250px;
}
.map-key div {
  font-size: 0.8em;
  width: 100%;
}
.map-key img {
  margin: auto;
  display: block;
  height: 100%;
}

#chart {
  height: 100%;
  width: 100%;
}
#chart .line {
  fill: none;
  stroke: #ababab;
  stroke-width: 2px;
}
#chart path.line {
  stroke-width: 1.5px;
  clip-path: url(#clip);
}
#chart text {
  fill: black;
  font-size: 12px;
  font-family: "Open Sans", Arial, "sans serif";
}
#chart .background {
  fill: #f8f8f8;
}
#chart .y-axis path, #chart .x-axis path {
  stroke: #ababab;
  stroke-width: px;
}
#chart .brush .selection {
  fill-opacity: 0.3;
}
#chart .brush .handle-line {
  fill: #5f5f5f;
}
#chart .brush .handle-mini {
  fill: white;
  stroke-width: 1px;
  stroke: #5f5f5f;
}

#header {
  width: 100%;
  align-items: center;
}
#header #info-container {
  width: 100%;
  background-color: #083f08;
  align-items: center;
}
#header #info {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  min-height: 75px;
  color: white;
}
#header #info div, #header #info a {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 10px;
  font-weight: 300;
  color: white;
}

#control-bar {
  padding: 5px 0px;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}
#control-bar #search #submit {
  float: right;
}
@media (min-width: 576px) {
  #control-bar #search {
    min-height: 150px;
  }
}
#control-bar #search #date-range-picker {
  width: 178px;
  height: 20px;
}
#control-bar #count-warning {
  color: #083f08;
}
#control-bar #count-warning span, #control-bar #heatmap-warning span {
  font-weight: 400;
}
#control-bar #chart-container {
  height: 135px;
  display: none;
}
@media (min-width: 576px) {
  #control-bar #chart-container {
    display: inline-block;
  }
}
#control-bar #chart-container #chart-info {
  width: 100%;
  justify-content: space-between;
}
#control-bar #chart-container #chart-buttons a {
  color: #107a10;
  margin-left: 2px;
}
#control-bar #chart-container #chart-buttons a#zoom-all {
  margin-left: 5px;
}
#control-bar #chart-container #chart-buttons a:hover {
  color: #083f08;
  text-decoration: underline;
}

#content {
  width: 90%;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}
@media (min-width: 768px) {
  #content {
    flex-direction: row;
  }
}
#content #map-container {
  min-height: 500px;
  width: 100%;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  #content #map-container {
    min-height: 750px;
    width: inherit;
  }
}
#content #map-container #tremor-map {
  border: 5px solid #f8f8f8;
}
#content .text {
  margin-left: 5px;
}
#content .bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
#content .bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #083f08;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}
@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
#content #loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(171, 171, 171, 0.66);
}
#content #loading-overlay #loading-gif, #content #loading-overlay #loading-warning {
  font-size: 1.6em;
  margin: 20% auto;
  color: #083f08;
}
@media (min-width: 768px) {
  #content #loading-overlay #loading-gif, #content #loading-overlay #loading-warning {
    margin: auto;
    font-size: 3em;
  }
}
#content #loading-overlay #loading-warning {
  display: none;
}
#content #loading-overlay #loading-warning div {
  text-align: center;
}
#content #sidebar {
  height: 100%;
  background-color: white;
}
#content #sidebar #settings-container #overlays .select {
  max-width: 210px;
}
#content #sidebar #search-container #date-range, #content #sidebar #search-container #epicenters {
  color: #666666;
  font-weight: 300;
}
#content #sidebar #search-container #date-range span, #content #sidebar #search-container #epicenters span {
  color: black;
  font-weight: 400;
}
#content #sidebar #download-container {
  align-self: flex-end;
  margin-bottom: 10px;
}
#content #sidebar #download-container .select {
  width: 50%;
}
#content #sidebar #event-list {
  display: none;
}
#content #sidebar #event-nav ul {
  padding-left: 10px;
  list-style-type: none;
  overflow: scroll;
  max-height: 450px;
  font-size: 0.9em;
}
#content #sidebar #event-nav ul .event-nav.active-event {
  color: #e61a1a;
}

#footer {
  margin-top: 10px;
  width: 100%;
  height: 356px;
  background-color: #083f08;
  color: white;
}

body {
  font-family: "Open Sans", Arial, "sans serif";
  /* line-height: 1.37; */
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

h2 {
  margin: 0;
  align-self: center;
  display: inline-block;
  font-size: 1.6em;
  font-weight: 400;
}
h2 span {
  display: none;
}
@media (min-width: 768px) {
  h2 {
    font-size: 3em;
    font-weight: 700;
  }
  h2 span {
    display: inline;
  }
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 2px 0px;
}
@media (min-width: 768px) {
  h3 {
    margin: 5px 0px;
  }
}

h4 {
  margin: 0;
  font-weight: 400;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.hidden {
  display: none;
}

.warning {
  display: none;
  font-weight: 300;
  color: #e61a1a;
}

.daterangepicker .active {
  background-color: #083f08 !important;
}

.info-text {
  font-weight: 300;
  font-size: 0.8em;
}

.right-column {
  margin-left: 20px;
  min-width: 270px;
  width: 23%;
  display: inline-block;
}

.left-column {
  width: 77%;
  display: inline-block;
}

/*# sourceMappingURL=main.css.map */
