#header {
  width: 100%;
  align-items: center;
}
#header #info-container {
  width: 100%;
  background-color: #083f08;
  align-items: center;
}
#header #info {
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 89px;
  width: 90%;
  color: white;
}
#header #info .info-text {
  align-self: flex-end;
  margin-bottom: 10px;
  font-weight: 300;
  color: white;
}

#control-bar {
  padding: 10px 0px;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}
#control-bar #search {
  display: inline-block;
  margin-right: 10px;
  min-width: 270px;
}
@media (min-width: 576px) {
  #control-bar #search {
    min-height: 150px;
  }
}
#control-bar #search #date-range-picker {
  padding: 2px 6px;
  width: 178px;
  height: 20px;
  font-size: 1em;
  border-radius: 3px;
  border: solid 1px #083f08;
}
#control-bar #count-warning {
  color: #083f08;
}
#control-bar #count-warning span, #control-bar #heatmap-warning span {
  font-weight: 400;
}
#control-bar #chart-container {
  height: 120px;
  width: 90%;
  display: none;
}
@media (min-width: 576px) {
  #control-bar #chart-container {
    display: block;
  }
}
#control-bar #chart-container #chart-info, #control-bar #chart-container #chart-buttons {
  font-weight: 300;
  font-size: 0.8em;
  display: inline-block;
}
#control-bar #chart-container #chart-buttons {
  float: right;
}
#control-bar #chart-container #chart-buttons a {
  margin-left: 2px;
}
#control-bar #chart-container #chart-buttons a:hover {
  color: #083f08;
  text-decoration: underline;
}

#content {
  position: relative;
  flex-direction: column;
}
@media (min-width: 768px) {
  #content {
    flex-direction: row;
  }
}
#content #map-container {
  background-color: #f8f8f8;
  display: inline-block;
  height: 500px;
  width: 100%;
  padding: 10px 0px;
}
@media (min-width: 768px) {
  #content #map-container {
    padding: 10px;
    min-height: 750px;
  }
}
#content #loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(171, 171, 171, 0.66);
}
#content #loading-overlay #loading-gif {
  margin: auto;
  font-size: 3em;
  color: #10381d;
}
#content #loading-overlay #loading-warning {
  display: none;
  margin: auto;
  font-size: 2.5em;
  color: #10381d;
}
#content #sidebar {
  /* top:0; */
  height: 100%;
  padding: 0px 10px;
  min-width: 260px;
  width: 20%;
  display: inline-block;
  background-color: white;
  justify-content: flex-start;
}
#content #sidebar h4 {
  margin: 0;
}
#content #sidebar #date-range, #content #sidebar #epicenters {
  color: #666666;
  font-weight: 300;
}
#content #sidebar #date-range span, #content #sidebar #epicenters span {
  color: black;
  font-weight: 400;
}
#content #sidebar #download-container {
  align-self: flex-end;
}
#content #sidebar #event-nav ul {
  padding-left: 10px;
  list-style-type: none;
  overflow: scroll;
  max-height: 450px;
  font-size: 0.9em;
}
#content #sidebar #event-nav ul .event-nav.active-event {
  color: Red;
}

#footer {
  width: 100%;
  height: 356px;
  background-color: #10381d;
  color: white;
}

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 499;
  /* was 1000 */
  pointer-events: none;
}

#tremor-map {
  height: 100%;
  position: relative;
}

.event.active-event {
  width: 11px !important;
  height: 11px !important;
  border: solid #083f08 2px;
}

.map-key {
  padding: 6px 8px;
  background: white;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}
.map-key div {
  font-size: 0.8em;
  width: 100%;
}
.map-key img {
  margin: auto;
  display: block;
}

#chart {
  height: 100%;
  width: 100%;
}
#chart .line {
  fill: none;
  stroke: #ababab;
  stroke-width: 2px;
}
#chart path.line {
  stroke-width: 1.5px;
  clip-path: url(#clip);
}
#chart text {
  fill: black;
  font-size: 12px;
  font-family: "Open Sans", Arial, "sans serif";
}
#chart .background {
  fill: #f8f8f8;
}
#chart .y-axis path, #chart .x-axis path {
  stroke: #ababab;
  stroke-width: px;
}
#chart .brush .selection {
  fill-opacity: 0.3;
}
#chart .brush .handle-line {
  fill: #5f5f5f;
}
#chart .brush .handle-mini {
  fill: white;
  stroke-width: 1px;
  stroke: #5f5f5f;
}

body {
  font-family: "Open Sans", Arial, "sans serif";
  /* line-height: 1.37; */
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

h2 {
  margin: 0;
  align-self: center;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 400;
}
@media (min-width: 768px) {
  h2 {
    font-size: 3em;
    font-weight: 700;
  }
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 5px 0px;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.hidden {
  display: none;
}

button {
  font-size: 1.1em;
  color: white;
  background-color: #107a10;
  border-radius: 5px;
  min-height: 25px;
  border: none;
  display: inline-block;
}
button:hover {
  border: none;
  background-color: #083f08;
}
button:disabled {
  background-color: #ababab;
}

select {
  overflow: hidden;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 0.25em;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #5f5f5f;
  border-color: #ababab;
}

.warning {
  display: none;
  font-weight: 300;
  color: #e61a1a;
}

.daterangepicker .active {
  background-color: #083f08 !important;
}
.daterangepicker .cancelBtn {
  display: none !important;
}

/*# sourceMappingURL=main.css.map */
