.line {
    fill: none;
    stroke: gray;
    stroke-width: 2px;
  }

/* #chart {
	height: 100px;
	width: 900px;
} */

#chart text {
	fill: #565656;
	font-size: 9px;
	font-family: Helvetica, Arial, "sans serif";
}

/* CB: padding to display better on bl.ocks.org */

#chart path.line {
	fill: none;
	stroke: #00AA8D; /* default, changed in each theme */
	stroke-width: 1.5px;
	clip-path: url(#clip);
}

/* #chart path.domain{
	display:none;
} */

#chart .y-axis .tick{
	display: none;
}

#chart .brush .selection {
  fill-opacity: .3;
}

/* brush handles  */
#chart .brush .handle-line {
	fill: #555;
}

#chart .brush .handle-mini {
	fill: white;
    stroke-width: 1px;
    stroke: #555;
}
/*
#metric-modal .metric-chart .scale_button {
	cursor: pointer;
}

#metric-modal .metric-chart .scale_button rect {
	fill: #eaeaea;
}
#metric-modal .metric-chart .scale_button:hover text {
	fill: #417DD6;
	transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}

#metric-modal .metric-chart text#displayDates  {
	font-weight: bold;
} */