
 #chart {
	height: 100%;
	width: 100%;
} 

.line {
    fill: none;
    stroke: #ababab;
    stroke-width: 2px;
}

#chart text {
	fill: black;
	font-size: 12px;
	font-family: "Open Sans", Arial, "sans serif";
}

#chart .background {
	fill:#f5f5f5;
}
/* CB: padding to display better on bl.ocks.org */

#chart path.line {
	fill: none;
	stroke: #ababab; /* default, changed in each theme */
	stroke-width: 1.5px;
	clip-path: url(#clip);
}

#chart .y-axis path, .x-axis path{
	stroke: #ababab;
	stroke-width: px;
}

#chart .y-axis .tick{
	display: none;
}

#chart .brush .selection {
  fill-opacity: .3;
}


/* brush handles  */
#chart .brush .handle-line {
	fill: #555;
}

#chart .brush .handle-mini {
	fill: white;
    stroke-width: 1px;
    stroke: #555;
}