#control-bar {
  height:172px;
}

.selected {
  fill: red;
  stroke: brown;
}

#tremor-map{
  height:775px;
}

.error {
  display:none;
}
#info div {
  display: inline;
}

#event-limit-warning{
  display:none;
}

.station {
	width: 0;
	height: 0;
	border-left: 6px solid transparent !important;
	border-right: 6px solid transparent !important;
	border-bottom: 10px solid black !important;
/*  background-color:red;*/
}

.station.active-station{
	width: 0;
	height: 0;
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-bottom: 13px solid black !important;
}


ul.sidebar-list {
  list-style-type:none;
  overflow:scroll;
  max-height: 450px;
}

ul.toggle-nav li{
  padding-right:10px;
  margin-bottom: 3px;
}

.event.active-event {
  width: 11px !important;
  height: 11px !important;
  border: solid black 2px;
}

.event-nav{
  font-size: .75em;
}
.event-nav.active-event{
  color:Red;
}

.hidden {
	display:none;
}

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 499; /* was 1000 */
  pointer-events: none;
  }