body {
  font-family: 'Open Sans', sans-serif;
  /* line-height: 1.37; */
  margin:0;
}
#header {
  width: 100%;
}
#header #info{
  height: 89px;
  width:100%;
  background-color: #10381d;
  margin: 0px;
  color:  white;
  font-size: 16px;
  font-weight: light;
}

#header #info h2 {
  margin: 0px 100px;
  font-size: 50px;
  font-weight: bold;
  display:inline-block;
  line-height:1.36;
}

#header #info a {
  float:right;
  margin-right: 80px
}

#header #info #updated {
  float:right;
  margin-right: 20px
}

h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
#control-bar {
  padding: 0px 100px;
}
#control-bar #search {
  display: inline-block;
  width:300px
}

#range-select, #date-select {
  font-size: 18px;
  /* display:block; */
}

#date-select .selector{
  display:inline-block;

}

#date-select .selector label{
  display:block;
}

#date-select .selector input{
  font-size: 18px;
  font-family: inherit;
  width: 135px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #10381d;
  background-color: #ffffff;
}

#search #submit {
  width:100%;
  height: 34px;
  border-radius: 5px;
  background-color: #107a10;
  border: none;
  margin: 5px 0;
}

#search #submit.disabled {
  background-color: #ababab;
}

#content {
  /* background-color: #f5f5f5; */
}

#content #warnings {


}

#content #map-container  {
  background-color: #f5f5f5;
  padding: 20px;
  display:inline-block;
  height:775px;
  width: 75%;
}

#tremor-map {
  width:100%;
  height:100%;
}

#content #sidebar {
  height:100%;
  padding: 10px;
  width: 20%;
  display:inline-block;
  background-color:white;
}

/* old css below */
.selected {
  fill: red;
  stroke: brown;
}


.error{
  display:none;
}

#count-warning div {
  display:none;
}


#info div {
  /* display: inline; */
}

#event-limit-warning, #display-type-warning{
  display:none;
}

ul.sidebar-list {
  list-style-type:none;
  overflow:scroll;
  max-height: 450px;
}

ul.toggle-nav li{
  padding-right:10px;
  margin-bottom: 3px;
}

.event.active-event {
  width: 11px !important;
  height: 11px !important;
  border: solid black 2px;
}

.event-nav{
  font-size: .75em;
}
.event-nav.active-event{
  color:Red;
}

.hidden {
	display:none;
}

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 499; /* was 1000 */
  pointer-events: none;
  }