.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 499; /* was 1000 */
  pointer-events: none;
  }

#tremor-map {
  height:100%;
  position:relative;
  font-family: $font-family;
}

.event.active-event {
  width: 11px !important;
  height: 11px !important;
  border: solid $accent 2px;
}

.map-bounds {
  background : white;
  width : 75px;
  height : 20px;
  padding: 3px;
  text-align:center;
  cursor: pointer;
  &:hover, &:focus{
    background-color: $gray-lighter;
  }
  #draw {
    display:none;
  }
}

.map-control {
  padding: 6px 8px;
  background: $contrast;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
}

.map-key {
  min-height: 230px;
  div {
    font-size: .8em;
    width: 100%;
  }
  #key-colored {
    border: solid 1px black;
    height: 200px;
  }
  #key-no-data div{
    border: solid 1px black;  
    background-color: #ababab;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    display: inline-block;
  }
}