
#tremor-chart {
	height: 100%;
	width: 100%;

	.line {
		fill: none;
		stroke: $gray;
		stroke-width: 2px;
	}

	path.line {
		&.modified {
			stroke: $gray-darker;
		}
		stroke-width: 1.5px;
		clip-path: url(#clip);
	}

	.mouse-line {
		@extend .line;
		stroke-width: 0.5px;
	}

	text {
		fill: black;
		font-size: 0.7rem;
		font-family: $font-family;
	}

	.background {
		fill: $gray-lighter;
	}

	.y-axis {
		.tick {
			display:none;
		}
	}

	.y-axis path, .x-axis path{
		stroke:$gray;
		// stroke-width: px;
	}

	.brush {
		.selection {
			fill-opacity: .3;
		}
		.handle-line {
			fill:$gray-darker;
		}
		.handle-mini {
			fill: $contrast;
			stroke-width: 1px;
			stroke:$gray-darker;
		}
	}
} 
