#header {
  width: 100%;
  align-items: center;

  #info-container {
    width:100%;
    background-color: $accent;
    align-items: center
  }

  #info{
    justify-content: space-between;
    flex-wrap: wrap;
    width:90%;
    min-height: 75px;
    color: $contrast;
    div, a {
      display: inline-block;
      align-self: flex-end;
      margin-bottom: 10px;
      font-weight: 300;
      color: $contrast;
    }
  }
}

#control-bar {
  padding: 5px 0px;
  justify-content: space-between;
  width: 90%;
  align-items: center;

  #search {
    #submit {
      float:right;
    }
    @include sm {
      min-height: 150px;
    }

    #date-range-picker {
      width: 178px;
      height: 20px;
    }
    
  }
  #count-warning {
    color: $accent;
  }
  
  #count-warning span, #heatmap-warning span {
    font-weight: 400;
  }

  #chart-container {
    height: 135px;
    display:none;

    @include sm {
      display: inline-block;
    }

    #chart-info {
      width: 100%;
      justify-content: space-between;
    }
    #chart-buttons {

      a {
        color: $primary;
        &#zoom-all {
          margin-left:5px;
        }
        margin-left: 2px;
        &:hover{
          color: $accent;
          text-decoration: underline;
        }
      }
    }
  }
}

#content {
  width: 90%;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;

  @include md {
    flex-direction: row;
  }

  #map-container  {
    // background-color: $gray-lighter;
    min-height: 500px;
    width:100%;
    padding-bottom:10px;
    @include md {
      min-height: 750px;
    }
    #tremor-map{
      border: 5px solid  $gray-lighter;
    }
  
  }
  // I got this from codepen
  $width: 15px;
  $height: 15px;

  $bounce_height: 30px;
  .text {
    margin-left: 5px;
  }
  
  .bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: $width;
    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      width: $width;
      height: $height;
      border-radius: 50%;
      background-color: $accent;
      transform-origin: 50%;
      animation: bounce 500ms alternate infinite ease;
    }
  }
  
  @keyframes bounce {
    0% {
      top: $bounce_height;
      height: 5px;
      border-radius: 60px 60px 20px 20px;
      transform: scaleX(2);
    }
    35% {
      height: $height;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0;
    }
  }
  #loading-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba( $gray, .66 );
  
    
    #loading-gif, #loading-warning{
      font-size: 1.6em;
      margin: 20% auto;
      @include md {
        margin: auto;
        font-size: 3em;
      }
      color:$accent;
    }

     #loading-warning {
      display:none;
      div {
        text-align: center;
      }
     }
    
  }
  
  #sidebar {
    height:100%;
    background-color:white;
    justify-content: flex-start;

    #date-range, #epicenters {
      color:#666666;
      font-weight: 300;
    }
    #date-range span, #epicenters span{
      color: black;
      font-weight: 400;
    }

    #overlays .select {
      max-width: 210px;
    }

    #download-container{
      align-self: flex-end;
      margin-bottom: 10px;
      .select {
        width: 50%;
      }
    }
    #event-list{
      display:none;
    }
    #event-nav ul {
      padding-left: 10px;
      list-style-type:none;
      overflow:scroll;
      max-height: 450px;
      font-size: .9em;

      .event-nav.active-event{
        color:$warning;
      }
    }

  }
}

#footer {
  margin-top: 10px;
  width: 100%;
  height: 356px;
  background-color: $accent;
  color: $contrast;
}



