input[type="text"], select {
    padding: 2px 6px;
    font-size: 1em;
    border-radius: 3px;
    border: solid 1px $accent;
    background: $contrast;
    color: black;
    font-size: 1em;
}
button {
    font-size: 1em;
    color:white;
    border-radius: 5px;
    min-height: 26px;
    border: none;
    display:inline-block;

    &.primary {
      background-color:$primary;
      &:hover, &:focus{
        border: none;
        background-color: $accent;
      }
    }
    &.secondary {
      background-color: white;
      color:$accent;
      border: solid 1px white;
      &:hover, &:focus{
        border: solid 1px $accent;
      }
    }

    &.inactive {
      background-color: $gray;
      opacity: 0.5;
      color: black;
    }

    &:disabled {
      background-color: $gray;
      opacity: 0.5;
      color: black;
    }
}

//   following css is from the internet, customized by me
.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    select {
      display: inline-block;
      width: 100%;
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-align:center;
      &::-ms-expand {
        display: none;
      }
      &:hover, &:focus {
        background: $gray-lighter;
      }
      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
      span {
        font-weight: 400;
      }
    }
  }
  
  .select-arrow {
    position: absolute;
    top: 10px;
    right: 8px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: $accent transparent transparent transparent;
  }
  
  .select select {
    &:hover ~ .select-arrow, &:focus ~ .select-arrow {
      border-top-color: #000;
    }
    &:disabled ~ .select-arrow {
      border-top-color: #ccc;
    }
  }
  
  .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
  }
  
  .control-indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 16px;
    width: 16px;
    background: $contrast;
    border: 2px solid $gray;
  }
  
  .control {
    &:hover input:not([disabled]) ~ .control-indicator {
      border-color: $gray-darker;
    }
    input {
      &:focus ~ .control-indicator {
        border-color: $gray-darker;
      }
      &:checked ~ .control-indicator {
        background: $contrast;
      }
      &:disabled ~ .control-indicator {
        background: $gray;
        opacity: 0.6;
        pointer-events: none;
      }
    }
  }
  
  .control-indicator:after {
    content: '';
    position: absolute;
    display: none;
  }
  
  .control input:checked ~ .control-indicator:after {
    display: block;
  }
  
  .control-checkbox {
    .control-indicator:after {
      left: 5px;
      top: 0px;
      width: 5px;
      height: 12px;
      border: solid $primary;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    input:disabled ~ .control-indicator:after {
      border-color: #7b7b7b;
    }
  }