.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 499; /* was 1000 */
  pointer-events: none;
  }

#tremor-map {
  height:100%;
  position:relative;
}

.event.active-event {
  width: 11px !important;
  height: 11px !important;
  border: solid $accent 2px;
}

.map-key {
  padding: 6px 8px;
  background: $contrast;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
  
  div {
    font-size: .8em;
    width: 100%;
  }
  img {
    margin: auto;
    display:block;
  }
}