$primary : #107a10;
$accent :  darken($primary, 13%);
$gray: #ababab;
$gray-darker : darken($gray, 30%);
$gray-lighter: lighten($gray, 30%);
$warning: desaturate(red, 20%);
$contrast: white;
$font-family:  "Open Sans", Arial, "sans serif";


// Screen size variables
$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

@import 'mixins';
@import 'components';
@import 'map';
@import 'time-series';
@import 'client-ui';



body {
  font-family: $font-family;
  /* line-height: 1.37; */
  margin:0;
  font-weight: 400;
  font-size: 14px;
}

h2 {
  margin:0;
  align-self: center;
  display:inline-block;

  font-size: 1.6em;
  font-weight: 400;
  span {
    display:none;
  }
  @include md {
    span {
      display:inline;
    }
    font-size: 3em;
    font-weight: 700;
  }
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 2px 0px;

  @include md {
    margin: 5px 0px;
  }

}

h4 {
  margin: 0;
  font-weight: 400;
}

.flex-container {
  @include flexbox();
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.hidden {
	display:none;
}

.warning{
  display:none;
  font-weight: 300;
  color:$warning;
}

.daterangepicker {
  .active {
    background-color: $accent !important;
  }
}

.info-text {
  font-weight: 300;
  font-size: .8em;
}